@import "tailwindcss";

/* Ẩn scrollbar trên Webkit (Chrome, Safari, Edge) */
/* ::-webkit-scrollbar {
  display: none;
} */

/* Ẩn scrollbar trên Firefox */
/* * {
  scrollbar-width: none;
} */

/* Chrome, Safari, Edge */

::-webkit-scrollbar {
  width: 6px; /* Scrollbar width */
}
::-webkit-scrollbar-track {
  background: #ffffff20; /* Track color */
}
::-webkit-scrollbar-thumb {
  background: #fbbf24; /* Thumb color */
  border-radius: 10px; /* Thumb border radius */
}
::-webkit-scrollbar-thumb:hover {
  background: #fbbf24; /* Thumb color on hover */
  border-radius: 10px; /* Thumb border radius */
}

/* Firefox specific */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #fbbf24 #ffffff20;
    border-radius: 10px; /* Thumb border radius */
  }
}
:root {
  --page-bg: #0a1210;
  --text-heading: #ededec;
  --text-content: #958d82;
  --primary: #fbbf24;
}

@theme inline {
  --color-page-bg: var(--page-bg);
  --color-heading: var(--text-heading);
  --color-content: var(--text-content);

  --color-primary: var(--primary);

  --font-sans: var(--font-geist);
  --font-mono: var(--font-geistMono);
  --font-inter: var(--font-inter);
}

/* Per-page themes */
[data-page="home"] {
  --page-bg: #0a1210;
  --text-heading: #ededec;
  --text-content: #7c8e86;
}

[data-page="blog"] {
  --page-bg: #0e1312;
  --text-heading: #ededec;
  --text-content: #958d82;
}

[data-page="ui"] {
  --page-bg: #0c0d11;
  --text-heading: #ededec;
  --text-content: #818690;
}

[data-page="courses"] {
  --page-bg: #0d0c11;
  --text-heading: #ededec;
  --text-content: #868290;
  --sidebar-bg: #06060a;
  --main-bg: #13121b;
  --card-bg: #1d1c27;
}

[data-page="learn"] {
  --page-bg: #0d0c11;
  --text-heading: #ededec;
  --text-content: #868290;
}

body {
  background: var(--page-bg);
  color: var(--text-heading);
  font-family: var(--font-geist), system-ui, sans-serif;
}
