@import "tailwindcss";

:root {
  --background: #0e1312;
  --foreground: #ededec;
  --primary: #fbbf24;
  --secondary: #14b8a6;
  --accent: #f97316;
  --border: #334155;
  --card: #141a18;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-card: var(--card);

  --font-sans: var(--font-geist);
  --font-mono: var(--font-geistMono);
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist), system-ui, sans-serif;
}
